html,
body {
    background: linear-gradient(-45deg, #ee6e4f, #5164c5, #3a7d91, #4ebb9f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;


}

.inputs {
    display: grid;
    grid-template-columns:repeat(20, 40px);
    grid-template-rows:repeat(20, 40px);
}

.inputs #X {
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 2;
}
.inputs #Y {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.inputs #R {
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 5;
    grid-row-end: 6;
}

.inputs #send {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 8;
}
.inputs #errors1{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.inputs #result {
    grid-column-start: 15;
    grid-column-end: 16;
    grid-row-start: 10;
    grid-row-end: 10;
}
.inputs #graphic{
    grid-column-start: 20;
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 3;
}
#result {
    position: relative;
    max-height: 150px;
    width: 250px;
    overflow: scroll;
}

.inputs #back {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 17;
    grid-row-end: 17;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#back,#send {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#back:focus,#send:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#back:hover,#send:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

#back:active,#send:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

#result {
    border-collapse: collapse;
    font-family: helvetica;
    border: 1px solid;
    position: relative;
    max-height: 150px;
    width: 500px;
    overflow: scroll;
}

#result td, #result th {
    border: 1px solid;
    padding: 15px;
    min-width: 100px;
    background: linear-gradient(-45deg, #ee6e4f, #296450, #3a7d91, #2a7e62);
    animation: gradient 15s ease infinite;
    box-sizing: border-box;
    text-align: left;
}

#result thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(-45deg, #ee6e4f, #5164c5, #3a7d91, #4ebb9f);
    animation: gradient 15s ease infinite;
}

#result thead th:first-child {
    left: 0;
    z-index: 3;
}

#result tfoot {
    position: -webkit-sticky;
    bottom: 0;
    z-index: 2;
}

#result tfoot td {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(-45deg, #ee6e4f, #5164c5, #3a7d91, #4ebb9f);

}

#result tfoot td:first-child {
    z-index: 3;
}

#result tbody {
    overflow: scroll;
    height: 150px;
}